@charset "UTF-8";

/*******************************************/
.reg-popup form {
  position: fixed;
  background: #fff;
  top: calc(50% - 308px);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 63px 50px 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 616px;
  width: 508px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reg-popup__wrapper {
  /* position: relative;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* width: 388px; */
}

form.hidden {
  display: none;
}

#regForm .reg-popup__wrapper {
  display: none;
}

.reg-popup__wrapper h3 {
  font: 600 26px/32px "Source Sans Pro", sans-serif;
  margin: 0 0 65px;
  text-align: center;
}

.reg-popup__wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 208px;
  min-width: 300px;
  overflow: hidden;
}

#regForm__checkin span:not(.reg-popup__unvalid) {
  font: 20px/24px "Source Sans Pro", sans-serif;
  color: #6f7073;
  margin: 29px 0 35px;
}
#regForm__checkin .reg-popup__unvalid {
  margin: -16px 0 0px;
}

#regForm__checkin h3 + .reg-popup__text {
  top: 102px;
  bottom: auto;
  width: 400px;
  text-align: center;
}
/*
#reg-sal {
  display: none; }

#reg-sal ~ div {
  height: 152px;
  overflow: hidden; }

#reg-sal:checked ~ div {
  height: 208px;
  overflow: auto; }

#reg-sal:checked ~ label {
  display: none; }
*/
.reg-popup__sal,
.reg-popup__sal:visited {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 16px 16px;
}

/*
.reg-popup__sal.show-all {
  background: #EDF0F7;
  color: #6f7073;
  margin: 16px auto 0; }

.reg-popup__sal.vkontakte {
  background: #4C6C91; }

.reg-popup__sal.facebook {
  background: #3B5998; }

.reg-popup__sal.gmail {
  background: #DC4E41; }

.reg-popup__sal.odnoklassniki {
  background: #F58223; }

.reg-popup__sal.twitter {
  background: #55ACEE; }

.reg-popup__sal.mailru {
  background: #0077CC; }

.reg-popup__sal.livejournal {
  background: #1DB1E7; }

.reg-popup__sal.liveinternet {
  background: #36869D; }

.reg-popup__sal::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0; } */
/*
.vkontakte:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") 0 -396px no-repeat; }

.facebook:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -42px -396px no-repeat; }

.odnoklassniki:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -84px -396px no-repeat; }

.gmail:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -294px -396px no-repeat; }

.twitter:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -126px -396px no-repeat; }

.mailru:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -168px -396px no-repeat; }

.livejournal:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -210px -396px no-repeat; }

.liveinternet:before {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -252px -396px no-repeat; }
*/
.reg-popup__sal.icon-vkontakte {
  background: url("../img/skins/ll2019/SVGsprite13.svg") 0px -286px no-repeat;
}
.reg-popup__sal.icon-facebook {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -50px -286px no-repeat;
}
.reg-popup__sal.icon-mailru {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -200px -286px no-repeat;
}
.reg-popup__sal.icon-twitter {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -150px -286px no-repeat;
}
.reg-popup__sal.icon-odnoklassniki {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -100px -286px no-repeat;
}
.reg-popup__sal.icon-google {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -400px -286px no-repeat;
}
.reg-popup__sal.icon-litres {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -500px -286px no-repeat;
}
.reg-popup__text {
  position: absolute;
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #6f7073;
  margin: 0;
  text-align: center;
  bottom: 29px;
}

.reg-popup__link,
.reg-popup__link:visited {
  font: 14px/16px "Source Sans Pro", sans-serif;
  color: #217dd1;
}

.reg-popup__btnNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff;
  background: #3e99ed;
  font: 600 18px/24px "Source Sans Pro", sans-serif;
  height: 48px;
  border-radius: 24px;
  width: 100%;
  border: none;
  padding: 0;
  margin: auto 0 0;
}

.reg-popup__btnNext:disabled {
  background: #d2d4d6;
}

.reg-popup__btnPrev {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  top: 32px;
  left: 32px;
}

.reg-popup__btnPrev:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 9px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #000;
  border-right: none;
  border-top: none;
}

.reg-popup__wrapper input[type="email"],
.reg-popup__wrapper input[type="password"],
.reg-popup__wrapper input[type="text"] {
  border: 1px solid #d2d4d6;
  width: 408px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  color: #252626;
  font: 16px/41px "Source Sans Pro", sans-serif;
  margin: 0 0 16px;
}

.reg-popup__wrapper input.reg-popup__input-err {
  border: 1px solid #fa385d;
}

.reg-popup__wrapper input::-webkit-input-placeholder {
  color: #88898c;
}

.reg-popup__wrapper input::-moz-placeholder {
  color: #88898c;
}

.reg-popup__wrapper input:-ms-input-placeholder {
  color: #88898c;
}

.reg-popup__wrapper input::-ms-input-placeholder {
  color: #88898c;
}

.reg-popup__wrapper input::placeholder {
  color: #88898c;
}

.reg-popup__image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.reg-popup__wrapper details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4px;
  border-radius: 20px;
}

.reg-popup__wrapper summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 0 40px 4px 18px;
  font: 16px/16px "Source Sans Pro", sans-serif;
  border: 1px solid #d2d4d6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reg-popup__wrapper summary::-webkit-details-marker {
  display: none;
}

.reg-popup__wrapper summary::after {
  position: absolute;
  content: "";
  right: 22px;
  top: 12px;
  width: 7px;
  height: 7px;
  border-left: 1px solid #252626;
  border-top: 1px solid #252626;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.reg-popup__wrapper details[open] {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.reg-popup__wrapper details[open] summary::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 17px;
}

.reg-popup__wrapper details[open] summary {
  border-radius: 20px 20px 0 0;
  border: none;
  border-bottom: 1px solid #d2d4d6;
}

.reg-popup__wrapper #sel_date {
  width: 76px;
}

.reg-popup__wrapper #sel_month {
  width: 128px;
}

.reg-popup__wrapper #sel_year {
  width: 92px;
}

.reg-popup__wrapper details div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 160px;
}

.reg-popup__wrapper details ul {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.reg-popup__wrapper details li {
  line-height: 40px;
  padding: 0 16px;
}

#regForm__remind h3,
#regForm__password h3 {
  margin: 0 0 177px;
}

.reg-popup__show {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 8px;
  background: url("../img/skins/ll2019/SVGsprite13.svg") -156px -78px no-repeat;
}

#regForm__name div {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#regForm__name input {
  margin: 0 0 24px;
}

#regForm__remind .reg-popup__text,
#regForm__password .reg-popup__text,
#regForm__birthday .reg-popup__text,
#regForm__gender .reg-popup__text {
  top: 122px;
  bottom: auto;
  font-size: 18px;
}

#regForm__password input[type="text"] ~ .reg-popup__show {
  background: url("../img/skins/ll2019/SVGsprite13.svg") -130px -78px no-repeat;
}

#regForm__birthday input {
  display: none;
}

#regForm__birthday > div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: calc(100% - 24px);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 112px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#regForm__gender div {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#regForm__gender input {
  display: none;
}

#regForm__gender label {
  position: relative;
  font: 18px/36px "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
  padding: 0 28px 0 40px;
}

#regForm__gender label:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  top: 4px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #d0d2d6;
  border-radius: 50%;
}

#regForm__gender input:checked + label:before {
  border-color: #3e99ed;
}

#regForm__gender input:checked + label:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3e99ed;
}
#regForm__genre label {
  max-width: calc(100% - 32px);
}

.reg-popup__genre {
  display: inline-block;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #252626;
  color: #252626;
  font: 16px/26px "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0 8px 16px;
}

#regForm__genre h3 {
  margin-bottom: 41px;
}

#regForm__genre > div {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 408px;
  height: 330px;
  overflow: auto;
  text-align: center;
}

#regForm__genre input {
  display: none;
}

#regForm__genre input:checked ~ i {
  border-color: #3e99ed;
  background: #3e99ed;
  color: #fff;
}

.reg-popup__unvalid {
  color: #fa385d;
  font: 14px/16px "Source Sans Pro", sans-serif;
}

.reg-popup__mail {
  margin: 10px 0 22px;
  color: #252626;
  font: 300 20px/32px "Source Sans Pro", sans-serif;
}

#regForm__singin .reg-popup__wrapper div,
#regForm__password div {
  height: 140px;
  position: relative;
}

/************************/
#regForm__book h3 {
  margin-bottom: 16px;
}

#regForm__book .reg-popup__list {
  display: block;
  height: 400px;
  width: 393px !important;
  overflow: hidden;
}

.reg-popup__list label {
  margin: auto 10px 14px;
}

.reg-popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 393px !important;
}

.reg-popup__list img {
  max-width: 111px;
  max-height: 166px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}

.reg-popup__list input {
  display: none;
}

.reg-popup__list i {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  margin: -14px auto 0;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.reg-popup__list i:before,
.reg-popup__list i:after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  top: calc(50% - 1px);
  left: calc(50% - 9px);
  background: #000;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.reg-popup__list i:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.reg-popup__list input:checked ~ i {
  background: #3e99ed;
}

.reg-popup__list input:checked ~ i:before {
  background: #fff;
  width: 15px;
  top: 15px;
  left: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.reg-popup__list input:checked ~ i:after {
  width: 9px;
  top: 16px;
  left: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
}

/***************************/
#regForm__welcome li {
  position: relative;
  font: 18px/24px "Source Sans Pro", sans-serif;
  padding: 0 0 0 40px;
  margin: 0 0 24px;
}

#regForm__welcome li:before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.68765 14.2735C9.29713 13.883 8.66396 13.883 8.27344 14.2735C7.88291 14.664 7.88291 15.2972 8.27344 15.6877L13.7616 21.1759C14.013 21.4272 14.3649 21.5168 14.6879 21.4445C14.8691 21.4053 15.0415 21.3152 15.1823 21.1744L24.5181 11.8386C24.9086 11.4481 24.9086 10.8149 24.5181 10.4244C24.1276 10.0339 23.4944 10.0339 23.1039 10.4244L14.4712 19.0571L9.68765 14.2735Z' fill='%23FA385D'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
}

#regForm__welcome h3 {
  margin-bottom: 38px;
}

#regForm__welcome ul {
  margin: 49px 0 0;
  width: 320px;
}

#regForm .slick-arrow {
  -webkit-box-shadow: none;
  box-shadow: none;
  top: calc(50% - 34px);
  background: transparent;
}

#regForm .slick-next {
  right: 17px;
}

#regForm .slick-prev {
  left: 17px;
}

.reg-popup-v2 #regForm__checkin .simplebar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -16px;
}

.reg-popup-v2 .reg-popup__sal::before {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#regForm__litres .reg-popup__text {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  bottom: 0;
  margin: 14px 0 16px;
}
#regForm__litres .reg-popup__link {
  font-size: 18px;
  line-height: 40px;
}
#regForm__litres .reg-popup__wrapper > div {
  height: 100%;
}
.reg-popup__disable {
  border: 1px solid #88898c;
  color: #6f7073;
  background: #fff;
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 192px;
  font: 18px/24px "Source Sans Pro", sans-serif;
}
.reg-popup__enable {
  border: 1px solid #3e99ed;
  color: #fff;
  background: #3e99ed;
  height: 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 24px;
  width: 192px;
  font: 600 18px/24px "Source Sans Pro", sans-serif;
}
.reg-popup__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.reg-popup-v2 .reg-popup__sal.icon-show-all,
.reg-popup-v2 .reg-popup__sal.icon-livejournal,
.reg-popup-v2 .reg-popup__sal.icon-liveinternet {
  display: none;
}

/**********************/

form#regForm__checkin.processing:after,
form#regForm__singin.processing:after,
form#regForm.processing:after {
  content: " ";
  position: absolute;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 20px;
}
.reg-popup.modal {
  z-index: 10001;
}

.reg-popup__sal.google {
  background: #dc4e41;
}

.google:before {
  background: url("/img/skins/ll2019/SVGsprite10.svg") -294px -396px no-repeat;
}

.reg-popup__wrapper > div.regForm__checkin-simplebar {
  max-width: 332px;
}
